name: ci

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  ci:
    uses: killbill/gh-actions-shared/.github/workflows/ci.yml@main
    with:
      test-profile-matrix: '[ "travis", "mysql", "postgresql", "jdbi", "config-magic" ]'
